<a href="https://colab.research.google.com/github/Abir196/Wasteless/blob/main/Hourly_sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("data_hourly_model.csv")
data = data.drop("Unnamed: 0",axis=1)
data.drop_duplicates()
data.dropna()

       LCLid                 time  energy(kWh/hh)  temperature
0        246  2011-12-03 09:00:00           0.149        11.00
1        246  2011-12-03 10:00:00           0.768        11.42
2        246  2011-12-03 11:00:00           0.588        11.41
3        246  2011-12-03 12:00:00           0.843        11.33
4        246  2011-12-03 13:00:00           0.120        11.41
...      ...                  ...             ...          ...
23668   5492  2012-07-24 10:00:00           0.160        24.84
23669   4431  2012-07-24 10:00:00           0.352        24.84
23670   4387  2012-07-24 10:00:00           0.049        24.84
23671   4319  2012-07-24 10:00:00           0.919        24.84
23672   4247  2012-07-24 10:00:00           0.163        24.84

[23673 rows x 4 columns]

In [4]:
data.dtypes

LCLid               int64
time               object
energy(kWh/hh)    float64
temperature       float64
dtype: object

In [5]:
data["time"] = pd.to_datetime(data["time"])
data.head()

   LCLid                time  energy(kWh/hh)  temperature
0    246 2011-12-03 09:00:00           0.149        11.00
1    246 2011-12-03 10:00:00           0.768        11.42
2    246 2011-12-03 11:00:00           0.588        11.41
3    246 2011-12-03 12:00:00           0.843        11.33
4    246 2011-12-03 13:00:00           0.120        11.41

In [6]:
data["year"] = data["time"].dt.year
data["month"] = data["time"].dt.month
data["day"] = data["time"].dt.day
data["hour"] = data["time"].dt.hour
data = data.drop("time", axis=1)
data.dtypes

LCLid               int64
energy(kWh/hh)    float64
temperature       float64
year              float64
month             float64
day               float64
hour              float64
dtype: object

In [7]:
data.head()
data.dropna(axis=0)

       LCLid  energy(kWh/hh)  temperature    year  month   day  hour
0        246           0.149        11.00  2011.0   12.0   3.0   9.0
1        246           0.768        11.42  2011.0   12.0   3.0  10.0
2        246           0.588        11.41  2011.0   12.0   3.0  11.0
3        246           0.843        11.33  2011.0   12.0   3.0  12.0
4        246           0.120        11.41  2011.0   12.0   3.0  13.0
...      ...             ...          ...     ...    ...   ...   ...
23668   5492           0.160        24.84  2012.0    7.0  24.0  10.0
23669   4431           0.352        24.84  2012.0    7.0  24.0  10.0
23670   4387           0.049        24.84  2012.0    7.0  24.0  10.0
23671   4319           0.919        24.84  2012.0    7.0  24.0  10.0
23672   4247           0.163        24.84  2012.0    7.0  24.0  10.0

[23673 rows x 7 columns]

In [8]:
data_hourly_copy = data.copy()
data.to_csv("ma_data.csv")

In [9]:
eta = 0.2
df_model = data.iloc[:int(data.shape[0]*(1-eta))]
df_real = data.iloc[int(data.shape[0]*(1-eta)):]
df_model.shape

(18939, 7)

In [10]:

(df_model.shape[0]/data_hourly_copy.shape[0],df_real.shape[0]/data_hourly_copy.shape[0])

(0.7999915519134916, 0.20000844808650842)

In [37]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
test_set  = df_model[int(df_model.shape[0]*0.75):]

In [24]:
from sklearn.model_selection import train_test_split
y_train = df_model["energy(kWh/hh)"]
X_train = df_model.drop(["energy(kWh/hh)","LCLid"],axis=1)
y_test = test_set["energy(kWh/hh)"]
X_test = test_set.drop(["energy(kWh/hh)","LCLid"],axis=1)
(X_train.shape,y_train.shape,X_test.shape,y_test.shape)
y_train.shape[0]/y_test.shape[0]

3.999788806758184

In [38]:
modela= model.fit(X_train, y_train)

In [41]:
predictions = modela.predict(X_test)

In [18]:
import numpy as np 
import sklearn.metrics as metrics
import matplotlib.pyplot as plt

In [42]:
mae = metrics.mean_absolute_error(predictions, y_test)
mse = metrics.mean_squared_error(predictions, y_test)
rmse = np.sqrt(mse) #mse**(0.5)  
r2 = metrics.r2_score(predictions, y_test)
mae

0.5290985320069033